# Part 1. Cleaning Patient Lab Ranges - David Dangond

In [1]:
from google.colab import drive
import pandas as pd
import numpy as np
drive.mount('/content/drive')
filepath = "/content/drive/MyDrive/Spoke/"

Mounted at /content/drive

In [ ]:
not_clean = pd.read_csv(filepath + 'OCT20_range_w_demo_and_vals.tsv', sep='\t')

In [ ]:
# FOR MS RESULTS
res = pd.read_table(filepath + 'matched_lab_df.tsv')

<ipython-input-17-74593fd8aaa6>:2: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  res = pd.read_table(filepath + 'matched_lab_df.tsv')

In [ ]:
not_clean

,measurement_concept_id,value_as_number,value_as_concept_id,unit_concept_id,measurement_source_value,unit_source_value,range_low,range_high,gender_source_value,ethnicity_source_value,race_source_value,age_at_test
0,3010421,7.34,NaN,NaN,LAB5808,NaN,7.35,7.45,Female,Not Hispanic or Latino,Asian,0
1,3013502,69.00,NaN,8554.0,LAB5808,%,95.00,99.00,Female,Not Hispanic or Latino,Asian,0
2,3013502,72.00,NaN,8554.0,LAB5809,%,95.00,99.00,Female,Not Hispanic or Latino,Asian,0
3,3027315,28.00,NaN,NaN,LAB5808,mm Hg,80.00,100.00,Female,Not Hispanic or Latino,Asian,0
4,3027315,31.00,NaN,NaN,LAB5809,mm Hg,80.00,100.00,Female,Not Hispanic or Latino,Asian,0
...,...,...,...,...,...,...,...,...,...,...,...,...
14244781,3016723,1.30,NaN,8840.0,LAB3001,mg/dL,0.61,1.24,Male,Hispanic or Latino,White or Caucasian,53
14244782,3000905,12.60,NaN,NaN,LAB294,x10E9/L,3.40,10.00,Female,Unknown,Unknown,71
14244783,3046553,0.41,NaN,NaN,LAB293,x10E9/L,0.00,0.20,Female,Hispanic or Latino,White or Caucasian,2
14244784,3004327,3.35,NaN,NaN,LAB293,x10E9/L,0.90,2.90,Male,Not Hispanic or Latino,White or Caucasian,36
14244785,3023996,0.00,NaN,NaN,LC3743,mmol/mol creat,1.00,14.00,Male,Hispanic or Latino,Unknown,13

In [ ]:
len(set(res[~res['OMOPid'].isin(list(set(not_clean['measurement_concept_id'])))]['OMOPid']))

1276

In [ ]:
len(set(res['OMOPid']))

1941

In [ ]:
len(set(not_clean['measurement_concept_id']))

983

In [ ]:
# ms = not_clean[not_clean['measurement_concept_id'].isin(list(set(res['OMOPid'])))]
ms = res[res['OMOPid'].isin(list(set(not_clean['measurement_concept_id'])))]

print('number of labs from original data set included in MS Dataset: ', len(set(ms['OMOPid'])))


not_ms = not_clean[~not_clean['measurement_concept_id'].isin(list(set(res['OMOPid'])))]

print('number of labs from original data set not included in MS Dataset: ', len(set(not_ms['measurement_concept_id'])))

number of labs from original data set included in MS Dataset:  665
number of labs from original data set not included in MS Dataset:  318

In [ ]:
not_clean

,measurement_concept_id,value_as_number,value_as_concept_id,unit_concept_id,measurement_source_value,unit_source_value,range_low,range_high,gender_source_value,ethnicity_source_value,race_source_value,age_at_test
0,3010421,7.34,NaN,NaN,LAB5808,NaN,7.35,7.45,Female,Not Hispanic or Latino,Asian,0
1,3013502,69.00,NaN,8554.0,LAB5808,%,95.00,99.00,Female,Not Hispanic or Latino,Asian,0
2,3013502,72.00,NaN,8554.0,LAB5809,%,95.00,99.00,Female,Not Hispanic or Latino,Asian,0
3,3027315,28.00,NaN,NaN,LAB5808,mm Hg,80.00,100.00,Female,Not Hispanic or Latino,Asian,0
4,3027315,31.00,NaN,NaN,LAB5809,mm Hg,80.00,100.00,Female,Not Hispanic or Latino,Asian,0
...,...,...,...,...,...,...,...,...,...,...,...,...
14244781,3016723,1.30,NaN,8840.0,LAB3001,mg/dL,0.61,1.24,Male,Hispanic or Latino,White or Caucasian,53
14244782,3000905,12.60,NaN,NaN,LAB294,x10E9/L,3.40,10.00,Female,Unknown,Unknown,71
14244783,3046553,0.41,NaN,NaN,LAB293,x10E9/L,0.00,0.20,Female,Hispanic or Latino,White or Caucasian,2
14244784,3004327,3.35,NaN,NaN,LAB293,x10E9/L,0.90,2.90,Male,Not Hispanic or Latino,White or Caucasian,36
14244785,3023996,0.00,NaN,NaN,LC3743,mmol/mol creat,1.00,14.00,Male,Hispanic or Latino,Unknown,13

In [ ]:
ms

,cohort_id,OMOPid,omop_date,value_as_number,value_as_concept_id,unit_concept_id,unit_source_value,measurement_source_value,value_source_value
0,0,3013721,2009-09-03,18.00,NaN,8645.0,U/L,1526000,18
1,0,3019550,2009-02-10,138.00,NaN,8753.0,MMOL/L,1534098,138
2,0,3035995,2009-09-03,59.00,NaN,8645.0,U/L,1525848,59
3,0,3044491,2009-02-10,122.00,NaN,8840.0,MG/DL,676,122
4,0,3022192,2009-02-10,50.00,NaN,8840.0,MG/DL,1552156,50
...,...,...,...,...,...,...,...,...,...
1294817,41177,3000905,1998-02-26,2.10,NaN,9444.0,x10E9/L,1004,2.1
1294818,41177,3015884,1998-08-14,227.00,NaN,8837.0,ug/dL,1900562,227
1294819,41177,3004501,1998-08-14,88.00,NaN,8840.0,mg/dL,1510655,88
1294820,41177,3023314,1998-02-26,43.70,NaN,8554.0,PERCENT,1534436,43.7
1295022,41241,3009201,2018-05-17,0.54,NaN,9040.0,mIU/L,2465,0.54

In [ ]:
renamed = not_clean.rename(columns = {'measurement_concept_id': 'OMOPid', 'measurement_source_value' : 'manufacturer', 'unit_source_value':'unit', 'gender_source_value':'gender','ethnicity_source_value':'ethnicity','race_source_value':'race','age_at_test':'age'})
filtered = renamed[['OMOPid', 'manufacturer', 'unit', 'range_low', 'range_high', 'gender', 'ethnicity', 'race', 'age']]

In [ ]:
omc_raw = pd.read_csv(filepath + 'old_measurement_concepts.tsv', sep='\t')
omc = omc_raw.rename(columns={'concept_id': "OMOPid", 'concept_code': 'LOINCid'})

In [ ]:
print('old_measurement_concepts:')
# not useful, many labs done multiple times
# omcUnique = omc.drop_duplicates(subset = ['OMOPid','LOINCid'])
# print(len(omcUnique))
# print(len(omc))
display(omc.head())

old_measurement_concepts:

,OMOPid,concept_name,domain_id,vocabulary_id,concept_class_id,standard_concept,LOINCid,valid_start_date,valid_end_date,invalid_reason
0,44786677,Genetic risk algorithm sensitivity [Ratio],Measurement,LOINC,Clinical Observation,S,74020-9,2013-07-23,2099-12-31,NaN
1,44786872,Fondaparinux [Mass/volume] in Platelet poor pl...,Measurement,LOINC,Lab Test,S,74217-1,2013-10-28,2099-12-31,NaN
2,44786663,Serotonin release 0.5 IU/mL heparin.unfraction...,Measurement,LOINC,Lab Test,S,74005-0,2013-07-22,2099-12-31,NaN
3,44786754,Tacrolimus [Mass/volume] in Blood by LC/MS/MS,Measurement,LOINC,Lab Test,S,74097-7,2013-08-29,2099-12-31,NaN
4,42528717,Cashew nut recombinant (rAna o) 3 IgE Ab [Unit...,Measurement,LOINC,Lab Test,S,82539-8,2017-02-21,2099-12-31,NaN

In [ ]:
# create map to later add LOINCids to the 2020 demographics DF
loincMap = dict(zip(list(omc['OMOPid']), list(omc['LOINCid'])))
loincMap

{44786677: '74020-9',
 44786872: '74217-1',
 44786663: '74005-0',
 44786754: '74097-7',
 42528717: '82539-8',
 46235951: '77741-7',
 46236302: '77636-9',
 43055684: '72824-6',
 43055120: '72493-0',
 43055151: '72524-2',
 43055153: '72526-7',
 43055279: '72314-8',
 43055441: '72607-5',
 43055122: '72495-5',
 43055144: '72517-6',
 43055457: '72623-2',
 43055031: '72400-5',
 43055560: '72726-3',
 43055562: '72728-9',
 43055033: '72402-1',
 43055022: '72391-6',
 43055121: '72494-8',
 44786773: '74116-5',
 21493555: '80674-5',
 21493565: '80684-4',
 40761514: '58413-6',
 40761531: '58430-0',
 40760859: '57749-4',
 40760911: '57802-1',
 40761010: '57901-1',
 46237016: '77174-1',
 46235436: '75654-4',
 46236749: '77039-6',
 46236971: '78002-3',
 40760439: '57320-4',
 46235690: '75882-1',
 46235955: '77745-8',
 46235190: '76651-9',
 46236293: '77627-8',
 40762156: '59063-8',
 46237030: '77207-9',
 40762529: '59466-3',
 40765679: '62947-7',
 40765841: '63109-3',
 40765889: '63157-2',
 40766283: '63557-3',
 40771461: '68916-6',
 40771515: '68990-1',
 40771527: '69002-4',
 40771573: '69052-9',
 40762114: '59021-6',
 40762115: '59022-4',
 40762154: '59061-2',
 40772044: '69549-4',
 40761526: '58425-0',
 40761808: '58714-7',
 21492659: '79381-0',
 21493559: '80678-6',
 21493563: '80682-8',
 21490850: '76212-0',
 40765015: '62254-8',
 40765068: '62321-5',
 40765103: '62362-9',
 21494812: '80220-7',
 3000483: '2339-0',
 3000699: '3528-7',
 3000876: '6082-2',
 3000936: '6154-9',
 3002106: '30241-4',
 3002135: '31107-6',
 3002159: '25082-9',
 3002252: '4098-0',
 3002302: '5199-5',
 3001571: '17817-8',
 3001585: '13485-8',
 3001727: '15994-7',
 3001784: '12841-3',
 3001832: '17522-4',
 3000257: '15841-0',
 3005488: '16111-7',
 3005527: '501-7',
 3005710: '5630-9',
 3005804: '17790-7',
 3002051: '30542-5',
 3005008: '5609-3',
 3005029: '2881-1',
 3005190: '16249-5',
 3005225: '14805-6',
 3005333: '6219-0',
 3015399: '30248-9',
 3015546: '20639-1',
 3015637: '26459-8',
 3015697: '12710-0',
 3015736: '2756-5',
 3015753: '29515-4',
 3015789: '906-8',
 3005900: '17729-5',
 3006109: '3187-2',
 3006318: '25114-0',
 40759913: '56794-1',
 3006689: '3638-4',
 3006734: '6189-5',
 3006775: '27094-2',
 3004691: '8251-1',
 3004708: '27092-6',
 3032693: '49502-8',
 3015830: '26656-9',
 3015902: '3894-3',
 3016244: '20448-7',
 3016255: '1005-8',
 3016266: '5922-0',
 3016273: '31209-0',
 3016407: '3255-7',
 3016459: '6178-8',
 3016515: '2943-9',
 3016617: '13358-7',
 3016939: '17781-6',
 3016948: '3184-9',
 3017042: '3935-4',
 3007321: '2765-6',
 3007352: '2091-7',
 3032813: '43102-3',
 3032897: '35175-9',
 3032984: '49898-0',
 3032999: '49711-5',
 3033104: '41863-2',
 3008893: '2986-8',
 3008901: '6271-1',
 3008943: '30412-1',
 3009172: '20636-7',
 3009299: '3284-7',
 3050380: '47528-5',
 3050449: '49002-9',
 3009383: '12173-1',
 3009542: '20570-8',
 3009582: '1533-9',
 3009927: '2333-3',
 3010039: '21025-2',
 3034933: '42607-2',
 3035020: '24442-6',
 3035113: '20626-8',
 3035128: '19053-8',
 40767125: '64414-6',
 3002278: '1854-9',
 3002291: '6842-9',
 3003985: '6873-4',
 3004266: '19147-8',
 3016767: '13735-6',
 3006865: '241-0',
 3006906: '17861-6',
 3007359: '1971-1',
 3007384: '27400-1',
 3007490: '15875-8',
 3007498: '30567-2',
 3007561: '27923-2',
 3007719: '1657-6',
 3007723: '27851-5',
 3008561: '13590-5',
 3008612: '13734-9',
 3008714: '32166-1',
 3034523: '3536-0',
 3034655: '42482-0',
 3034806: '6087-1',
 3034901: '35386-2',
 3017575: '19146-0',
 3017662: '25097-7',
 3017750: '24446-7',
 3017829: '21748-9',
 3017886: '27392-0',
 3017958: '6257-0',
 3017974: '6864-3',
 3018095: '30405-5',
 3018214: '25098-5',
 3002020: '3377-9',
 3002035: '29643-4',
 3002212: '30234-9',
 3002248: '3978-4',
 3004394: '7340-3',
 3004418: '13928-7',
 3004560: '26475-4',
 3004593: '31032-6',
 3004640: '11051-0',
 3004653: '3982-6',
 3004772: '5393-4',
 3004775: '19153-6',
 3004783: '26972-0',
 3004879: '10579-1',
 3004880: '5092-2',
 3005148: '1695-6',
 3005171: '5281-1',
 3007808: '2915-7',
 3002996: '569-4',
 3003038: '15385-8',
 3003159: '23860-0',
 3005222: '1165-0',
 3005229: '2868-8',
 3005335: '22672-0',
 3005440: '31104-3',
 3014717: '9407-8',
 3014749: '20408-1',
 3014856: '10728-4',
 3014929: '8236-2',
 3014958: '21712-5',
 3015160: '2148-5',
 3005685: '1809-3',
 3006471: '12723-3',
 3006567: '2079-2',
 3006627: '24007-7',
 3006665: '27395-3',
 3006762: '20656-5',
 3006828: '32024-2',
 3003525: '6456-8',
 3005716: '15732-1',
 3015682: '5225-8',
 3015802: '6113-5',
 3015813: '3182-3',
 3015884: '2191-5',
 3015973: '15929-3',
 3006013: '6045-9',
 3006157: '31146-4',
 3033882: '14288-5',
 3034043: '42664-3',
 3008699: '15557-2',
 3017894: '6185-3',
 3017930: '23877-4',
 3017980: '29965-1',
 3018031: '9800-4',
 3009119: '13728-1',
 3009190: '5375-1',
 3000456: '7791-7',
 3000610: '15387-4',
 3000620: '4485-9',
 3000637: '12228-3',
 3000661: '18919-1',
 3000669: '23940-0',
 3000715: '13793-5',
 3035055: '3772-1',
 3001706: '3834-9',
 3001754: '18250-1',
 3001802: '14959-1',
 3001818: '3690-5',
 3001881: '2432-3',
 3002022: '27820-0',
 3002527: '6090-5',
 3002529: '883-9',
 3002538: '7558-0',
 40761804: '58710-5',
 40761860: '58766-7',
 40762162: '59069-5',
 3035318: '22679-5',
 3018625: '29507-1',
 3018669: '6033-5',
 3018677: '14979-9',
 3018686: '2217-8',
 3002751: '26019-0',
 3002752: '21194-6',
 3002803: '9308-8',
 3006248: '18361-6',
 3003142: '9766-7',
 3005503: '16099-4',
 3005577: '14956-7',
 3005627: '9306-2',
 3005673: '17856-6',
 3005757: '3193-0',
 3005788: '7152-2',
 3005854: '7790-9',
 3005941: '22636-5',
 3005987: '5251-4',
 3006070: '6954-2',
 3006163: '5022-9',
 3006173: '29525-3',
 3006175: '8247-9',
 3006638: '4059-2',
 3016728: '20646-6',
 3016742: '15859-2',
 3016750: '13362-9',
 3016806: '12941-1',
 3016961: '8172-9',
 3004187: '3793-7',
 3004202: '18955-5',
 3004249: '8480-6',
 3004254: '20648-2',
 3004291: '8134-9',
 3014791: '1884-6',
 3014848: '15343-7',
 3033445: '41479-7',
 3017526: '9345-0',
 3017788: '11146-8',
 3017840: '6800-7',
 3007700: '6037-6',
 3007822: '13438-7',
 3007880: '15869-1',
 3007885: '5695-2',
 3033575: '742-7',
 3034006: '42602-3',
 3034108: '20778-7',
 3034127: '24436-8',
 3005013: '10886-0',
 3005018: '30566-4',
 3005168: '2501-5',
 3005169: '567-8',
 3005235: '6153-1',
 3008848: '2077-6',
 3008895: '1656-8',
 3008976: '13283-7',
 3009105: '20409-9',
 3009169: '2150-1',
 3008043: '17609-9',
 3008193: '21003-9',
 3009718: '9832-7',
 3009827: '1835-8',
 3010042: '5572-3',
 3035212: '35303-7',
 3035509: '35670-9',
 3035569: '2283-0',
 3035583: '5821-4',
 3018204: '5229-0',
 3018256: '25110-8',
 3000067: '2731-8',
 3000138: '5583-0',
 3000185: '2502-3',
 21493558: '80677-8',
 3003809: '30233-1',
 3003816: '30534-2',
 3003891: '8100-0',
 3004109: '21376-9',
 3004167: '8245-3',
 3004239: '2162-6',
 3004308: '12382-8',
 3004786: '24312-1',
 3004833: '21081-5',
 3005089: '21709-1',
 3005136: '6075-6',
 3005156: '30075-6',
 3005186: '1159-3',
 3004360: '13483-3',
 3004624: '2116-2',
 3004705: '18961-3',
 3005769: '3494-2',
 3005807: '24471-5',
 3005828: '5732-3',
 3006072: '18879-7',
 3006135: '772-4',
 3016330: '2829-0',
 3016417: '1805-1',
 3016436: '2532-0',
 3016473: '18723-7',
 3016589: '32009-3',
 40763086: '60026-2',
 40765014: '62253-0',
 40765039: '62291-0',
 40765204: '62467-6',
 3005424: '8277-6',
 3005456: '6298-4',
 3005481: '802-9',
 3005519: '13482-5',
 3005562: '6069-9',
 3005564: '5949-3',
 3005578: '13626-7',
 3015142: '6270-3',
 3015195: '22703-3',
 3015479: '533-0',
 3015501: '27378-9',
 3006687: '2308-5',
 3006747: '25108-2',
 3006888: '7151-4',
 3007070: '2085-9',
 3006209: '844-1',
 3006262: '29910-7',
 3006345: '3042-9',
 3006355: '9360-9',
 3006461: '11020-5',
 3006517: '10587-4',
 3006578: '10659-1',
 3006615: '2236-8',
 3006631: '32018-4',
 3000030: '31099-5',
 3000120: '21036-9',
 3000144: '19343-3',
 3000180: '14054-1',
 3000194: '21108-6',
 3000201: '19415-9',
 3007082: '15280-1',
 3007256: '2693-0',
 3007456: '6194-5',
 3007461: '26515-7',
 3007527: '9804-6',
 3000150: '6076-4',
 3000307: '31562-2',
 3000422: '23918-6',
 3000515: '27811-9',
 3000285: '2947-0',
 3000426: '16027-5',
 3000497: '22450-1',
 3000571: '19346-6',
 3000598: '12234-1',
 3000685: '25835-0',
 3000800: '21343-9',
 3008159: '20566-6',
 3008204: '32167-9',
 3008295: '2692-2',
 3008377: '20650-8',
 3008423: '21751-3',
 3008424: '20421-4',
 3034388: '25092-8',
 3034411: '2436-4',
 3034421: '16124-0',
 3000998: '7556-4',
 3001101: '20401-6',
 3018163: '19152-8',
 3018173: '5693-7',
 3018194: '6186-1',
 3018229: '749-2',
 40766812: '64096-1',
 40766945: '64234-8',
 3000670: '3992-5',
 3000722: '14286-9',
 3000899: '25296-5',
 3034807: '7802-2',
 3034868: '38180-6',
 3035213: '38163-2',
 3018471: '23878-2',
 3018765: '6029-3',
 3000846: '15691-9',
 3000924: '11268-0',
 3000984: '2568-4',
 3001420: '19123-9',
 3001591: '16650-4',
 3001718: '27055-3',
 3001804: '13629-1',
 3001879: '20545-0',
 3001903: '21273-8',
 3002042: '6915-3',
 3002060: '16042-4',
 3002069: '15013-6',
 3002079: '2956-1',
 3002112: '2282-2',
 3002187: '6234-9',
 3002100: '9767-5',
 3002234: '16107-5',
 3002285: '10626-0',
 3002313: '7335-3',
 3003120: '30005-3',
 3003132: '3376-1',
 3002371: '4935-3',
 3002440: '14062-4',
 3002549: '11878-6',
 3002568: '2269-9',
 3002140: '4478-4',
 3002209: '11884-4',
 3002246: '15915-2',
 3002253: '5813-1',
 3002303: '6914-6',
 3002400: '2498-4',
 3002447: '22446-9',
 3003101: '25303-9',
 3003172: '32364-2',
 3003236: '31106-8',
 3003245: '4477-6',
 3003455: '31406-2',
 3003467: '26476-2',
 3003555: '5734-9',
 3003573: '948-0',
 3003621: '24039-0',
 3002661: '18996-9',
 3002731: '6920-3',
 3002762: '2961-1',
 3003471: '6913-8',
 3003564: '16257-8',
 3003715: '7792-5',
 3002730: '3755-6',
 3003867: '14211-7',
 3003898: '10585-8',
 3003977: '14315-6',
 3003993: '1434-0',
 3003994: '32546-4',
 3004501: '2345-7',
 3004944: '3714-3',
 3003424: '11281-3',
 3004339: '4476-8',
 3004820: '2240-0',
 3004955: '20660-7',
 3004977: '6193-7',
 3005005: '30193-7',
 3005058: '19270-8',
 3005081: '4625-0',
 3005114: '15684-4',
 3005167: '3831-5',
 3003516: '6083-0',
 3003541: '12611-0',
 3003545: '25610-7',
 3003603: '2196-4',
 3003645: '5060-9',
 3003765: '6161-4',
 3004217: '27387-0',
 3004257: '15802-2',
 3004269: '25682-6',
 3004295: '6299-2',
 3004327: '731-0',
 3004395: '8670-2',
 3004409: '3218-5',
 3004410: '4548-4',
 3004578: '26848-2',
 3004665: '32552-2',
 3004330: '3983-4',
 3004404: '17815-2',
 3004706: '20654-0',
 3004722: '2842-3',
 3014955: '1764-0',
 3015737: '29142-7',
 3015746: '31208-2',
 3006047: '26601-5',
 3006133: '11093-2',
 3016431: '19072-8',
 3016447: '2905-8',
 3016641: '29522-0',
 3016699: '1504-0',
 3016716: '9645-3',
 3016771: '1798-8',
 3005131: '27353-2',
 3005279: '3897-6',
 3005323: '5726-5',
 3005375: '7248-8',
 3015173: '460-6',
 3015239: '12556-7',
 3015397: '13733-1',
 3015411: '15650-5',
 3015322: '2865-4',
 3015375: '3330-8',
 3015418: '21001-3',
 3015497: '6112-7',
 3015597: '2492-7',
 3014997: '5723-2',
 3015057: '22466-7',
 3015818: '5077-3',
 3015883: '12293-7',
 3015923: '17726-1',
 3015944: '22211-7',
 3015982: '6182-0',
 3016121: '13591-3',
 3016133: '20573-2',
 3014727: '21365-2',
 3014814: '3779-6',
 3015077: '9413-6',
 3005738: '27389-6',
 3005755: '1743-4',
 3005791: '25638-8',
 3005826: '2567-6',
 3006015: '22708-2',
 3006029: '29519-6',
 3015924: '4459-4',
 3006451: '6273-7',
 3006467: '30195-2',
 3006576: '1959-6',
 3006594: '15647-1',
 3006806: '30201-8',
 3006840: '6122-6',
 3017177: '5232-4',
 3017205: '27085-0',
 3017215: '19074-4',
 3017259: '13966-7',
 3017278: '19145-2',
 3017295: '21374-4',
 3032828: '41618-0',
 3033396: '42804-5',
 3017675: '29893-5',
 3017766: '4498-2',
 3017792: '15641-4',
 3008228: '6115-0',
 3008269: '5622-6',
 3008358: '27834-1',
 3034452: '3393-6',
 3006977: '12945-2',
 3006997: '2988-4',
 3007034: '21305-8',
 3007107: '22707-4',
 3007128: '29518-8',
 3007171: '5623-4',
 3007173: '18878-9',
 3007326: '18047-1',
 3007350: '8246-1',
 3016835: '15936-8',
 3016914: '606-4',
 3016941: '9339-3',
 3017043: '2605-4',
 3017044: '5385-0',
 3017165: '6261-2',
 3017935: '21217-5',
 3007487: '3950-3',
 3007518: '6266-1',
 3007757: '6109-3',
 3033661: '29500-6',
 3033682: '5358-7',
 3007843: '25107-4',
 3007887: '6200-0',
 3007913: '19991-9',
 3008090: '2218-6',
 3008122: '11526-1',
 3008140: '6412-1',
 3008142: '18337-6',
 3006407: '9811-1',
 3006570: '27852-3',
 3006572: '30038-4',
 3006581: '23658-8',
 3006678: '1815-0',
 3006790: '5696-0',
 3007027: '14251-3',
 3007035: '16074-7',
 3016723: '2160-0',
 3016942: '24462-4',
 3033654: '21347-0',
 3007854: '20655-7',
 3007856: '23820-4',
 3007857: '3872-9',
 3007858: '2542-9',
 3007876: '5767-9',
 3007953: '21383-5',
 3007956: '9425-0',
 3035124: '13945-1',
 3008625: '2230-1',
 3017872: '21074-0',
 3018001: '6190-3',
 3018039: '30190-3',
 3018056: '4269-7',
 3018081: '1953-9',
 3034533: '11141-9',
 3034548: '35741-8',
 3034577: '38162-4',
 3034600: '36897-7',
 3034660: '41994-5',
 3034782: '21348-8',
 3034812: '9625-5',
 3034913: '35318-5',
 3009628: '17351-8',
 3009682: '2143-6',
 3009745: '15975-6',
 3035043: '3537-8',
 3035069: '16130-7',
 3019419: '12241-6',
 3050930: '53842-1',
 3050637: '53774-6',
 3035820: '35534-7',
 3018174: '3033-8',
 3018199: '26507-4',
 3016397: '22698-5',
 3016545: '25135-5',
 3016555: '2407-5',
 3016648: '18719-5',
 3007124: '17849-1',
 3007368: '2464-6',
 3033347: '26028-1',
 3017509: '3936-2',
 3017721: '30328-9',
 3017848: '29901-6',
 3017962: '21753-9',
 3007534: '32101-8',
 3007591: '764-1',
 3007682: '14316-4',
 3007687: '6874-2',
 3007714: '14924-5',
 3033543: '2965-2',
 3033564: '16960-7',
 3033604: '24435-0',
 3033621: '15388-2',
 3033641: '9317-9',
 3033810: '25086-0',
 3033840: '972-0',
 3033851: '1942-2',
 3007844: '5159-9',
 3008009: '3175-7',
 3008091: '3548-5',
 3008211: '22706-6',
 3022341: '9361-7',
 3022374: '30196-0',
 3022460: '15632-3',
 3012028: '27270-8',
 3012056: '14945-0',
 3012180: '7091-2',
 3012336: '4542-7',
 3009088: '17850-9',
 3009220: '13654-9',
 3009249: '10907-4',
 3009261: '25428-4',
 3009401: '20629-2',
 3009417: '2112-1',
 3050252: '38404-0',
 3008217: '5923-8',
 3008325: '12258-0',
 3008342: '770-8',
 3008440: '21215-9',
 3008477: '29356-3',
 3008576: '14083-0',
 3018478: '5765-3',
 3009563: '19370-6',
 3009687: '26574-4',
 3009754: '6065-7',
 3009883: '6220-8',
 3018572: '2069-3',
 3018595: '23883-2',
 3036164: '29503-0',
 3036339: '428-3',
 3036517: '11221-9',
 3018994: '14803-1',
 3019041: '13997-2',
 3010623: '1987-7',
 3010625: '14044-2',
 3010653: '6138-2',
 3010657: '29239-1',
 3010836: '15967-3',
 3011001: '5650-7',
 3011003: '11257-3',
 3019909: '4545-0',
 3020022: '14208-3',
 3020080: '27882-0',
 3020138: '14118-4',
 3036774: '5975-8',
 3036955: '15015-1',
 3036987: '2284-8',
 3037142: '29575-8',
 3023479: '27810-1',
 3012885: '26575-1',
 3012920: '5643-2',
 3012963: '14114-3',
 3008882: '15952-5',
 3008909: '7974-9',
 3009003: '26583-5',
 3018057: '5599-6',
 3018069: '10352-3',
 3018143: '5157-3',
 3018171: '19080-1',
 3018276: '10884-5',
 3018356: '15943-4',
 3008708: '6042-6',
 3008804: '1496-9',
 3008898: '4821-5',
 3009046: '18271-7',
 3018127: '12783-7',
 3010414: '23992-1',
 3010493: '3128-6',
 3020960: '30170-5',
 3021009: '4552-6',
 3021044: '2500-7',
 3037207: '9710-5',
 3037215: '6918-7',
 3037381: '6167-1',
 3037436: '22692-8',
 3037534: '2729-2',
 3037553: '2127-9',
 3037563: '3457-9',
 3021097: '5116-9',
 3021236: '5370-2',
 3021257: '24349-3',
 3021347: '1995-0',
 3021483: '15554-9',
 3021546: '6223-2',
 3011051: '25134-8',
 3011205: '14335-4',
 3011306: '5722-4',
 3038162: '9474-8',
 3013642: '3768-9',
 3013731: '5193-8',
 3013735: '12515-3',
 3013801: '13955-0',
 3013859: '22131-7',
 3013931: '12239-0',
 3013983: '19586-7',
 3040072: '40478-0',
 3014033: '6288-5',
 3014037: '8123-2',
 3014053: '2341-6',
 3014071: '5043-5',
 3014126: '6110-1',
 3010913: '13829-7',
 3036814: '587-6',
 3036947: '31037-5',
 3036949: '7573-9',
 3037010: '38169-9',
 3037064: '35802-8',
 3010454: '11034-6',
 3010456: '3592-3',
 3010483: '1305-2',
 3010509: '13464-3',
 3010702: '15680-2',
 3050388: '46217-6',
 3010137: '29623-6',
 3010190: '3127-8',
 3010228: '25133-0',
 3010412: '15981-4',
 3010422: '6071-5',
 3010457: '713-8',
 3010816: '11099-9',
 3010912: '29620-2',
 3010955: '30056-6',
 3010981: '8267-7',
 3011105: '12207-7',
 3011172: '5335-5',
 3037043: '38178-0',
 3037167: '664-3',
 3037172: '15853-5',
 3037201: '27823-4',
 3018646: '14312-3',
 3018809: '25099-3',
 3018857: '3098-1',
 3035283: '42233-7',
 3035362: '15697-6',
 3035380: '6100-2',
 3035554: '15550-7',
 3051287: '46429-7',
 3036324: '5070-8',
 3036343: '30237-2',
 3036413: '35475-3',
 3036474: '21428-8',
 3036524: '26880-5',
 3036545: '6166-3',
 3036607: '22691-0',
 3052635: '48390-9',
 3035967: '22685-2',
 3036005: '11279-7',
 3036049: '15545-7',
 3019800: '6598-7',
 3019809: '27039-7',
 3019813: '18908-4',
 3051288: '46985-8',
 3023512: '16031-7',
 3023520: '14196-0',
 3023574: '9833-5',
 3023640: '2258-2',
 3023709: '2963-7',
 3013184: '19659-2',
 3036669: '27822-6',
 3036788: '9633-9',
 3019899: '15977-2',
 3019902: '13317-3',
 3019978: '16131-5',
 3019994: '6092-1',
 3020211: '21563-2',
 3020229: '5000-5',
 3010023: '21026-0',
 3010024: '1078-5',
 3035774: '35388-8',
 3035801: '35384-7',
 3035845: '2142-8',
 3035964: '13344-7',
 3036273: '7797-4',
 3036506: '29497-5',
 3009956: '19429-0',
 3010007: '185-9',
 3010074: '29539-4',
 3010109: '5644-0',
 3010189: '5787-7',
 3010293: '10604-7',
 3010297: '3282-1',
 3010375: '3520-4',
 3010391: '14115-0',
 3020389: '10701-1',
 3020457: '5273-8',
 3020475: '5646-5',
 3020527: '29776-2',
 3020630: '2885-2',
 3020646: '15616-6',
 3020712: '31097-9',
 3051256: '53596-3',
 3051367: '48019-4',
 3051383: '48084-8',
 3036437: '35300-3',
 3036571: '5372-8',
 3036592: '7195-1',
 3036616: '6917-9',
 3036727: '38177-2',
 3036753: '35789-7',
 3019869: '9834-3',
 3020029: '5809-9',
 3020174: '21027-8',
 3024303: '3126-0',
 3052043: '48305-7',
 3052053: '48311-5',
 3050693: '46758-9',
 3035706: '15539-0',
 3035962: '31201-7',
 3036008: '15774-3',
 3036035: '27816-8',
 3019323: '32576-1',
 3019347: '6825-4',
 3019509: '3746-5',
 3051014: '46702-7',
 3036067: '15846-9',
 3036230: '9627-1',
 3036243: '2821-7',
 3036285: '20633-4',
 3036361: '16038-2',
 3019641: '30518-5',
 3019736: '6694-4',
 3020897: '6848-6',
 3020990: '15014-4',
 3010684: '30209-1',
 3010747: '20447-9',
 3010785: '28588-2',
 3010833: '28593-2',
 3010875: '14035-0',
 3010910: '26455-6',
 3010911: '25125-6',
 3010645: '27416-7',
 3010807: '3363-9',
 3036662: '6171-3',
 3036691: '35673-3',
 3036809: '20634-2',
 3036824: '21362-9',
 3036834: '6239-8',
 3036882: '5817-2',
 3019961: '11071-8',
 3036265: '4644-1',
 3036277: '8302-2',
 3036325: '13722-4',
 3019406: '6158-0',
 3019531: '5568-1',
 3019561: '28067-7',
 3019660: '22670-4',
 3019742: '7187-8',
 3019761: '7795-8',
 3020509: '1759-0',
 3020650: '2349-9',
 3020695: '15749-5',
 3020740: '8198-4',
 3020763: '15984-8',
 3019785: '21558-2',
 3019812: '11050-2',
 3019884: '2722-7',
 3019930: '3093-2',
 3019965: '19049-6',
 3019974: '32081-2',
 3020536: '287-3',
 3020545: '3924-8',
 3020946: '5213-4',
 3020963: '662-7',
 3020978: '32366-7',
 3020994: '31108-4',
 3021320: '6447-7',
 3021332: '12602-9',
 3021337: '10839-9',
 3021438: '27854-9',
 3052558: '46499-0',
 3052599: '48501-1',
 3021461: '20507-0',
 3021650: '30519-3',
 3021717: '3050-2',
 3021785: '25087-8',
 3011483: '5793-5',
 3011519: '21017-9',
 3011520: '24110-9',
 3011547: '3198-9',
 3011562: '26612-2',
 3037503: '20398-4',
 3037539: '17819-4',
 3037544: '2892-8',
 3037585: '2428-1',
 3037692: '593-4',
 3037791: '13801-6',
 3037932: '42985-2',
 3021374: '29247-4',
 3021532: '13502-0',
 3021534: '27831-7',
 3052183: '47359-5',
 3037466: '15016-9',
 3037467: '24357-6',
 3037475: '6244-8',
 3037533: '6014-5',
 3037574: '18475-4',
 3037756: '25700-6',

In [ ]:
# add Loinc IDs to demographic DF
filtered['LOINCid'] = [loincMap[filtered['OMOPid'][omop]] for omop in range(len(filtered))]
filtered

<ipython-input-29-4dd0c18e106e>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered['LOINCid'] = [loincMap[filtered['OMOPid'][omop]] for omop in range(len(filtered))]

,OMOPid,manufacturer,unit,range_low,range_high,gender,ethnicity,race,age,LOINCid
0,3010421,LAB5808,NaN,7.35,7.45,Female,Not Hispanic or Latino,Asian,0,11558-4
1,3013502,LAB5808,%,95.00,99.00,Female,Not Hispanic or Latino,Asian,0,20564-1
2,3013502,LAB5809,%,95.00,99.00,Female,Not Hispanic or Latino,Asian,0,20564-1
3,3027315,LAB5808,mm Hg,80.00,100.00,Female,Not Hispanic or Latino,Asian,0,11556-8
4,3027315,LAB5809,mm Hg,80.00,100.00,Female,Not Hispanic or Latino,Asian,0,11556-8
...,...,...,...,...,...,...,...,...,...,...
14244781,3016723,LAB3001,mg/dL,0.61,1.24,Male,Hispanic or Latino,White or Caucasian,53,2160-0
14244782,3000905,LAB294,x10E9/L,3.40,10.00,Female,Unknown,Unknown,71,6690-2
14244783,3046553,LAB293,x10E9/L,0.00,0.20,Female,Hispanic or Latino,White or Caucasian,2,43743-4
14244784,3004327,LAB293,x10E9/L,0.90,2.90,Male,Not Hispanic or Latino,White or Caucasian,36,731-0
14244785,3023996,LC3743,mmol/mol creat,1.00,14.00,Male,Hispanic or Latino,Unknown,13,25132-2

In [ ]:
print("range is 0-0 for the following units:")
set(filtered[(filtered['range_low']== 0) & (filtered['range_high']== 0)]['unit'])

range is 0-0 for the following units:

{'%', 'PERCENT', 'mmol/mol creat'}

In [ ]:
# convert units to lowercase
filtered['unit'] = [str(unit).lower().strip() for unit in filtered['unit']]
filtered

<ipython-input-31-787c85b7c6d8>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered['unit'] = [str(unit).lower().strip() for unit in filtered['unit']]

,OMOPid,manufacturer,unit,range_low,range_high,gender,ethnicity,race,age,LOINCid
0,3010421,LAB5808,nan,7.35,7.45,Female,Not Hispanic or Latino,Asian,0,11558-4
1,3013502,LAB5808,%,95.00,99.00,Female,Not Hispanic or Latino,Asian,0,20564-1
2,3013502,LAB5809,%,95.00,99.00,Female,Not Hispanic or Latino,Asian,0,20564-1
3,3027315,LAB5808,mm hg,80.00,100.00,Female,Not Hispanic or Latino,Asian,0,11556-8
4,3027315,LAB5809,mm hg,80.00,100.00,Female,Not Hispanic or Latino,Asian,0,11556-8
...,...,...,...,...,...,...,...,...,...,...
14244781,3016723,LAB3001,mg/dl,0.61,1.24,Male,Hispanic or Latino,White or Caucasian,53,2160-0
14244782,3000905,LAB294,x10e9/l,3.40,10.00,Female,Unknown,Unknown,71,6690-2
14244783,3046553,LAB293,x10e9/l,0.00,0.20,Female,Hispanic or Latino,White or Caucasian,2,43743-4
14244784,3004327,LAB293,x10e9/l,0.90,2.90,Male,Not Hispanic or Latino,White or Caucasian,36,731-0
14244785,3023996,LC3743,mmol/mol creat,1.00,14.00,Male,Hispanic or Latino,Unknown,13,25132-2

# Situations in which labs tests don't have clear ranges
1. range is not a number

    - DONE Result: All are floats.


2. range does not have reasonable low or high value

    2a) for [low, high], low > high
    
        - DONE Result: 121 rows (err_range)
        
    2b) low < 0 or high < 0
    
        - DONE Result: check passed (0 match this) (neg_low_high)
    
3. range is different for same manufacturer, omopid, and demographic

        - DONE Progress: There exist ranges that are different despite being from same manufacturer, omopid, and demographic.
            - Charlotte's suggestion: Could add year it was taken in case the range was updated later on. However, might be a better option to just add a confidence interval.
            - my approach: Apply confidence interval. If difference is beyond the CI, add both to a separate unclear ranges table ("conflicting_ranges_df", so its easier to find what about it makes it unclear.
    ***Progress:***

                - implemented function to convert to "any" if meets condition (condition being that all values for this demographic are present and the range is the same)
                    - need to check with Charlotte if this is the way she intends this to be implemented (DONE)
  
                   
        
4. unit is unclear (nan,  'not reported', 'index', 'units', 'undex', 'index value', '(calc)')
    - DONE Result: 372,650 rows
    
5. age is negative
    - DONE Result: 90 rows

In [ ]:
sum(list(np.isnan(filtered['range_high'].values)))

0

## Situations in which lab tests don't have clear ranges (CODE)

1. range is not a number

    - DONE Result: All are floats.

In [ ]:
# 1. range is not a float & not NaN
typelow = sum(list(filtered['range_low'].map(type) != float) or list(np.isnan(filtered['range_low'].values)))
typehigh = sum(list(filtered['range_high'].map(type) != float) or list(np.isnan(filtered['range_high'].values)))
print('Number of rows where range_low is not a float or NaN:\n', typelow)
print('Number of rows where range_high is not a float or NaN:\n', typehigh)
# all are floats.

Number of rows where range_low is not a float or NaN:
 0
Number of rows where range_high is not a float or NaN:
 0

2. range does not have reasonable low or high value

    2a) for [low, high], low > high
    
        - DONE Result: 121 rows (errRange)
        
    2b) low < 0 or high < 0
    
        - DONE Result: check passed (0 match this) (neg_low_high)

In [ ]:
# 2a. for [low, high], low >= high
err_range = filtered[filtered['range_low'] > filtered['range_high']]
# append unclear indeces to to_drop
to_drop = list(err_range.index)

print("Number of rows where range_low > range_high:\n", str(len(err_range)))


# 2b. low or high < 0
neg_low_high = filtered[(filtered['range_low'] < 0) | (filtered['range_high'] < 0)]

print("Number of rows where range_low < 0 or range_high < 0:\n", str(len(neg_low_high)))


# Dont need to check if range_high = 0, since a low, high range = 0,0 is valid in cases where patients should have 0 concentration of something.
# invalid_high = filtered[(filtered['range_high'] <= 0)]
# print("Number of rows where range_high <= 0:\n", str(len(invalid_high)))

Number of rows where range_low > range_high:
 121
Number of rows where range_low < 0 or range_high < 0:
 0

3. range is different for same manufacturer, omopid, and demographic

See below

4. unit is unclear ('not reported', 'index', 'units', 'index value', '(calc)', 'nan', None)
    - DONE Result: 372,650 rows

In [ ]:
# 4. unit is unclear
unclear = ['not reported', 'index', 'units', 'index value', '(calc)', 'nan', None]

uncleardf = filtered[filtered['unit'].isin(unclear)]
# append unclear indeces to to_drop
to_drop += list(uncleardf.index)

nanDF = filtered[filtered['unit'].isnull()]
# append unclear indeces to to_drop
to_drop += list(nanDF.index)

print("Number of rows with unclear units (''not reported', 'index', 'units', 'index value', '(calc)', 'nan', None):")
print(len(uncleardf) + len(nanDF))

Number of rows with unclear units (''not reported', 'index', 'units', 'index value', '(calc)', 'nan', None:
372650

5. age is negative
    - DONE Result: 90 rows

In [ ]:
# 5. age is negative
negAge = filtered[filtered['age'] < 0]
# Create list of indeces to drop from filtered data frame. Will append as we check cases
to_drop += list(negAge.index)

print("Number of rows with age value < 0:")
print(len(negAge))
negAge

Number of rows with age value < 0:
90

,OMOPid,manufacturer,unit,range_low,range_high,gender,ethnicity,race,age,LOINCid
1295363,3018572,LAB3003,mmol/l,98.0,108.0,Male,Hispanic or Latino,Unknown,-99,2069-3
1295365,3013290,LAB3003,mm hg,35.0,45.0,Male,Hispanic or Latino,Unknown,-99,11557-6
1295396,3027315,LAB3003,mm hg,80.0,100.0,Male,Hispanic or Latino,Unknown,-99,11556-8
2269900,3033575,LAB293,x10e9/l,0.1,0.6,Male,Not Hispanic or Latino,White or Caucasian,-5,742-7
2269901,3000905,LAB293,x10e9/l,3.4,10.0,Male,Not Hispanic or Latino,White or Caucasian,-5,6690-2
...,...,...,...,...,...,...,...,...,...,...
14170110,3013502,LAB3239,%,95.0,99.0,Male,Not Hispanic or Latino,Asian,-1,20564-1
14170111,3027315,LAB3239,mm hg,80.0,100.0,Male,Not Hispanic or Latino,Asian,-1,11556-8
14170112,3013290,LAB3239,mm hg,27.0,41.0,Male,Not Hispanic or Latino,Asian,-1,11557-6
14170113,3024882,LAB3239,%,20.0,100.0,Male,Not Hispanic or Latino,Asian,-1,19994-3
14170114,3013290,LAB3239,mm hg,27.0,41.0,Male,Not Hispanic or Latino,Asian,-1,11557-6

In [ ]:

to_drop = list(set(to_drop))
print("Dropping " + str(len(to_drop)) + " rows from df")

Dropping 372730 rows from df

In [ ]:
exp = len(filtered) - len(to_drop)

In [ ]:
# drop unclear rows from DF
# toDrop = list(set(errRange.index.append(negAge.index).append(uncleardf.index).append(nanDF.index)))
unclear_range = filtered.loc[to_drop]

# save unclear ranges df to csv:
# unclear_range.to_csv('unclearOMOPRanges.csv')

# filter out all these unclear dfs from main df.
clear_ranges = filtered.drop(to_drop, axis=0,inplace=False)

In [ ]:
post_drop_length = len(clear_ranges)
print("Dropping unclear values...\nSuccess: ", post_drop_length == exp)

Dropping unclear values...
Success:  True

In [ ]:
subsample = clear_ranges.head(1000)

# Converting Units
## Steps:
### 1. Implement functions to get conversion map (unit_map) for each lab
      a) getMaxUnit(df, c)
      b) getUnits(df)
### 2. Create dict with conversion multipliers for each conversion necessary
### 3. Implement convertUnits(df)





Want to see if units within a same lab are in a different scale.
Brute force approach would be to make constant conversions across the board.

However, we shouldn't apply conversions to all the data at once because then we might end up with values such as 95,000,000 or 0.000000095 (i.e. cant generalize which unit to convert to across labs, since for one lab it might make more sense to have the ranges in micrograms, while in another lab it might make more sense to have the unit be in milligrams).


Need to check within each lab, which values to convert. This way we don't end up with very large or very small values, which would make us have to do another round of conversion when comparing individual results to these ranges.

The functions I implemented to accomplish this task of converting units are:

- getMaxUnit(df, c)
  - inputs a df and a cutoff value.
  - returns whether the max unit is frequent enough, the list of units present, and the max unit
- getUnits(df)
  - inputs a df
  - calls getMaxUnit(df, c)
  - returns a dictionary that maps each OMOPid to its max unit and the list of units present if a max unit is present that meats the cutoff value.
- convertUnits(df)
  - inputs a df
  - returns a df with the conversions applied

# Examples of randomness in units used for the same lab
Format is as follows:

OMOPid: [units used for ranges in this lab]



***Units that clearly don't match, unclear how to convert.***
- Approach: Look at how dominant each unit is, set threshold to delete certain labs that don't meet it.

3009744: ['g/dl', '%']

3008625: ['pg/ml', 'mcg/g creat']

3011337: ['ng/dl', 'ug/24 hr']

3010493: ['relative to h2o', 'rel.saline']

3012870: ['mg/24 hr', 'ratio']

3014521: ['mcg/g creat', 'ug/d']

3017575: ['u/ml', 'mg/dl', 'ng/dl', '%', 'u/l', 'mmol/l']

3018478: ['mcg/24 h', 'ug/l']

3020027: ['mg/24 h', 'mg in tv', 'mg/d']

3020416: ['x10e6/ul',
  '10*6/ul',
  'm/ul',
  'x10e6',
  'x10e6 cells/ul',
  'm/mm3',
  'm/cmm',
  'x10e12/l',
  'million/ul',
  '10e6/mm3',
  '10^6/\\xb5l']
  
3024929: ['thousand/ul',
  '10e3/mm3',
  'x10e3',
  'k/mm3',
  'x10e3 cells/ul',
  'x10e3/ul',
  'k/\\xb5l',
  't/mm3',
  'k/ul',
  '10*3/ul',
  '100k',
  'x10e9/l']
  
3031400: ['ug/l', 'mcg/spec']

3033575: ['10e3/mm3',
  'x10e3',
  'x10e3 cells/ul',
  'x10e3/ul',
  'k/ul',
  'cells/ul',
  '10*3/ul',
  'x10e9/l']
  
  
3037121: ['mg/24 hr', 'mg/dl']
  
  
3038191: ['umol/d', 'nm/mg cr']


3041450: ['nmol/min/ml', 'ng/ml']
  


  



***Examples of abnormal unit groups, diffcult to use regex on since differences are so unique:***

3000067: ['ng/l', 'pg/ml']

3000120: ['mg/24 h', 'mg in tv']

3000620: ['mg/dl adult', 'mg/dl']

3000905: ['thousand/ul',
  'x10e3/ul',
  'x10e3',
  '10e3/mm3',
  'x10e3 cells/ul',
  'x10e9/l',
  'k/mm3',
  'k/ul',
  '10*3/ul',
  'th/mm3']
  
3001218: ['mg', 'mg/d', 'mg/24 h', 'mg/24 hr']

3001405: ['/ul', 'cells/ul', 'x10e6/l']

3001754: ['ug/dl rbcs', 'ug/dl rbc']

3004239: ['g in tv', 'g/d', 'mg/d', 'mg/24 hr', 'mg/kg/d', 'g/24 h']

3004327: ['x10e3',
  'th/mm3',
  'k/mm3',
  'x10e3 cells/ul',
  'x10e3/ul',
  'k/ul',
  'cells/ul',
  '10*3/ul',
  'x10e9/l']
  
3008295: ['mosmol/kg', 'mmol/kg', 'mosm/kg']

3010493: ['relative to h2o', 'rel.saline']

3023851: ['mcg/24 h', 'mcg/24h', 'ug/24 hr']

3006923: ['u/l', 'iu/l']

3007220: ['u/l', 'iu/l'],

3009201: ['miu/l', 'uiu/ml']

3017526: ['ug/l', 'mcg/g creat']




***Examples of obvious changes***

 3002022: ['percent', '%']

 3002109: ['ratio units', 'ratio']

 3003308: ['% activity', '%']

 3008295: ['mosmol/kg', 'mmol/kg', 'mosm/kg']

 3008377: ['nmol/ml', 'umol/l']

 3016948: ['sec', 's']

## 1. Implement functions to get conversion map (unit_map) for each lab
    a) getMaxUnit(df, c)
    b) getUnits(df)

In [ ]:

# a) getMaxUnit(df, c)
# c is the percentage cutoff we want to use to determine whether the most frequent unit is really a significant majority of the data.
# for example, at the last if statement in this code, it checks whether the amount of times the most frequent unit appeared is greater than the total number of observations * c.
# So if c = 0.7, it would only count this as the most frequent unit if it has a frequency greater or equal to 70%.
# We later experiment with different values of c to see how many clear lab ranges we can determine.
def getMaxUnit(df, c):
    # get unit counts
    counts_obj = df['unit'].value_counts()
    counts = list(counts_obj)
    maxv = 0
    tot = 0
    index = 0
    # loop through counts and determine the frequency of the most frequent unit
    for i in range(len(counts)):
        count = counts[i]
        if count > maxv:
            maxv = count
            index = i
        tot += count
    # if it is frequent enough, return True, the list of existing units in this df, and the max unit
    if maxv >= (tot*c):
        return True, list(counts_obj.index), list(counts_obj.index)[index]
    else:
        return False, None, None

In [ ]:
from itertools import compress

# b) getUnits(df)
# Remember, entries for the same lab tend to have different units since they come from different manufacturers, and medical professionals are also just not consistent with it within the same manufacturer.
# the purpose of this function is to take a df, and for each lab (OMOPid) find the max unit and the list of observed units used in this lab. With this, we will be able to make the conversions to the max Unit for each lab,
# depending on the max unit for this lab, solving the issue that would arise (as described earlier) if we took a brute force approach to converting units (making the same conversion regardless of the most frequent unit).
def getUnits(df):
    # get unique units for each lab
    units_obj = df.groupby('OMOPid').apply(lambda x: list(set(x['unit'])))
    units = list(units_obj)

    # get list of labs
    omops = list(units_obj.index)

    # intialize conversion dict
    omopToUnit = {}
    # get max unit info
    for i in range(len(omops)):
        if len(units[i]) < 2:
            continue
        lab = df[df['OMOPid'] == omops[i]]
        # if a max unit exists (frequency greater than 0.55), add to conversion dict
        tf, curr_units, maxUnit = getMaxUnit(lab, 0.55)
        if tf:
            omopToUnit[omops[i]] = [maxUnit, curr_units]

    return omopToUnit

unit_map = getUnits(clear_ranges)

In [ ]:
# this is the output from getUnits(clear_ranges).
# it maps each lab to its most frequent unit (if it made the cutoff. those that did not make the cutoff are considered too ambiguous and disregarded), and to a list of present units
# this map will be used to make conversions
unit_map

# 2. Create dict with conversion multipliers for each conversion necessary

In [ ]:
# Due to the inconsistent nature of the data, it was too difficult to automate the process of getting the conversions between two units.
# There were too many typos, and mostly ambiguous abbreviations that made it difficult for anything but a human eye with lab test knowledge to discern what different abbreviations likely meant.
# thus the conversions were hard coded, all from the unit map above.
conversions = {'mg/24 hr': {'mg/d' : 1},
               'mg/24 h' : {'mg/d':1},
               'ug/24 hr' : {'mcg/24 h' : 1},
               'g/24 hr' : {'g/d' : 1},
               'g/24 h' : {'g/d' : 1},
               'mm/hr' : {'mm/h' : 1},
               'mmol/24 hr' : {'mmol/d': 1},
               'mmol/24 h' : {'mmol/d' : 1},

               'ug feu/ml' : {'mg/l feu': 1},

               'million/ul' : {'x10e12/l' : 1},
               'x10e6/ul' : {'x10e12/l' : 1},
               'x10e6 cells/ul' : {'x10e12/l' : 1},
               'x10e6/ul' : {'x10e12/l' : 1},
               '10e6/mm3' : {'x10e12/l' : 1},
               'm/ul' : {'x10e12/l' : 1},

               'mosm/kg' : {"mmol/kg" : 1},
               'mosmol/kg' : {"mmol/kg" : 1},
               'meq/l' : {'mmol/l' : 1},
               'eu/dl' : {'mg/dl' : 1},
               'mm/l' : {'mmol/l' : 1},
               'umol/l' : {'nmol/ml' : 1},
               "nmol/ml" : {'umol/l' : 1},



               'ng/ml/hr' : {'ng/ml/h' : 1},
               'units/l' : {'u/l' : 1},
               'sec' : {'s' : 1},

               'mg/g creat' : {'mg/g cr' : 1},
               'mg/mg creat' : {'mg/g creat' : 1000},
               'ug/mg creat' : {'mg/g creat' : 1},

               'pg/ml' : {'ng/ml': 0.001, 'ng/l' : 1},
               'ng/ml' : {'mcg/l' : 1, 'ug/l' : 1, 'ug/l rbc' :1 , 'ug/ml' : .001, 'mg/dl' : .0001, 'pg/ml' : 1000},
               'ug/ml' : {'mcg/ml' : 1, 'mg/ml' : .001, 'mg/l' : 1, 'mg/dl' : .1},
               'ug/dl' : {'mcg/dl' : 1},
               'mg/dl (calc)' : {'mg/dl' : 1},
               'mg/dl' : {'g/dl' : .001},
               'mg/dl adult' : {'mg/dl' : 1},
               'mcg/dl' : {'ug/dl' : 1},
               'g/dl' : {'g/dl (calc)' : 1},
               'mg/l' : {'ng/ml' : 1000},
              'ug/l' : {'ng/ml' : 1, 'mcg/l' : 1, 'mcg/dl' : 0.1},
               'u/l' : {'mcg/l' : 1},

               'mm[hg]' : {'mm hg' : 1},
               'mm b hg' : {'mm hg' : 1},


              '% (calc)' : {'%' : 1},
              'percent' : {'%' : 1},
              '% normal' : {"%" : 1},
              '%activity' : {"%" : 1},
              '% activity' : {"%" : 1},
              '%nhp' : {"%" : 1},
              '% inhibition' : {"%" : 1},
              '% nhp' : {"%" : 1},
              '% act' : {"%" : 1},
              '% of total' : {"%" : 1},
              '% lymphs' : {"%" : 1},


               'iu/l' : {'u/l' : 1},
               'uiu/ml' : {'miu/l' : 1},
               'miu/ml' : {'iu/l' : 1},


              'thousand/ul' : {'x10e9/l' : 1},
              'x10e3/ul' : {"x10e9/l" : 1},
              'x10e3 cells/ul' : {"x10e9/l" : 1},
              'k/ul' : {"x10e9/l" : 1, 'x10e3/ul' : 1},
              'k/mm3': {"x10e9/l" : 1, 'x10e3/ul' : 1},
              '10e3/mm3' : {'x10e9/l' : 1},
              '10*3/ul' : {'x10e9/l' : 1},
              'th/mm3' : {'x10e9/l' : 1},

               'cells/ul' : {'x10e6/l' : 1, 'x10e9/l' : 0.001, '/ul' : 1},
               'cells/mcl': {'cells/ul' : 1},

              '/ul' : {'x10e6/l' : 1}}

# 3. Implement convertUnits(df)

In [ ]:
from statistics import mode

# converts units in a df for a lab to the most frequent unit to ensure all ranges are of same unit
# returns a the df with the conversions applied.

def convertUnits(df):
    units = list(df['unit'])
    maxUnit = mode(units)

    # df where unit is already most common
    keep = df[df['unit'] == maxUnit]

    # df where unit can be converted to the most common
    mid = df[(df['unit'].isin(conversions)) & (df['unit'] != maxUnit)]

    multipliers = []

    for unit in list(mid['unit']):
      # check if conversion exists
        if maxUnit in conversions[unit]:
          # if so, append the value for this conversion
            multipliers.append(conversions[unit][maxUnit])
        # if there is no logical conversion (ex: 'mg/24 hr' to 'mg/dl',
        # make multiplier negative to then easily filter out of df
        else:
            multipliers.append(-1)
    # apply changes.
    mid['range_low'] *= multipliers
    mid['range_high'] *= multipliers
    mid['unit'] = maxUnit

    # drop rows where range is negative, which will be those in which the multiplier was set to -1 to mark impossible conversions
    converted = mid[mid["range_high"] >= 0]


    # return df with rows converted to the most frequent unit
    return keep.append(converted)

# Convert units functionality is now complete. We will apply it later.
# First, lets do more exploration and cleaning...

We see many of the units are percentages, so we can consolidate these as well.

In [ ]:
percent_df2 = clear_ranges[clear_ranges["unit"].str.contains("%")]
set(percent_df2['unit'])

{'%',
 '% (calc)',
 '% act',
 '% activity',
 '% inhibition',
 '% lymphs',
 '% nhp',
 '% normal',
 '% of total',
 '%activity',
 '%nhp',
 'vol %',
 'vol%',
 'vols%'}

In [ ]:
## change all units that contain "%" to just "%"
clear_ranges.loc[clear_ranges["unit"].str.contains("%"), "unit"] = "%"
clear_ranges.replace("percent", "%", inplace=True)

In [ ]:
# get a smaller subset to work on this algorithm
labSubset = clear_ranges[(clear_ranges['OMOPid'] == 3024561) & (clear_ranges['gender'] == 'Female') & (clear_ranges['age'] >= 30) & (clear_ranges['age'] < 40) & (clear_ranges['ethnicity'] == "Not Hispanic or Latino") & (clear_ranges['race'] == "White or Caucasian") & (clear_ranges['age'] == 34)]

Remember, the end-goal involves being able to compare patient results to these ranges to determine whether the result is normal. How could we distinguish between ranges 3.5-4.8 vs 3.4-4.7?

Here we see there is a need for a confidence interval. We will implement one to merge similar ranges for a lab that have matching demographics.

In [ ]:
# shows need for confidence interval (DONE)
print("differing ranges for same omop and demographics.")
labSubset.drop_duplicates(subset = ['range_low', 'range_high'])

differing ranges for same omop and demographics.

,OMOPid,manufacturer,unit,range_low,range_high,gender,ethnicity,race,age,LOINCid
10,3024561,LAB5389,g/dl,3.5,4.8,Female,Not Hispanic or Latino,White or Caucasian,34,1751-7
569264,3024561,LAB45,g/dl,3.4,4.7,Female,Not Hispanic or Latino,White or Caucasian,34,1751-7
2039524,3024561,LAB6170,g/dl,3.5,5.0,Female,Not Hispanic or Latino,White or Caucasian,34,1751-7
2195584,3024561,LAB3206,mg/dl,3600.0,4800.0,Female,Not Hispanic or Latino,White or Caucasian,34,1751-7
2230774,3024561,LAB6170,g/dl,3.8,4.8,Female,Not Hispanic or Latino,White or Caucasian,34,1751-7
5248626,3024561,LAB6170,g/dl,3.6,5.1,Female,Not Hispanic or Latino,White or Caucasian,34,1751-7
12461477,3024561,LAB3206,mg/dl,3503.0,5000.0,Female,Not Hispanic or Latino,White or Caucasian,34,1751-7

Here we have another example, but even with **the same manufacturer**. This emphasizes how inconsistent the EHR system is, but as far as it concerns our study, it strongly emphasizes the need for a confidence interval to merge these similar ranges.

In [ ]:
# Another example, but even with same manufacturer. Emphasizes need for confidence interval (DONE)
print('Example of discordant ranges for rows with same lab (OMOPid), manufacturer, and demographics')
labSubset[labSubset['manufacturer'] == 'LAB45'].drop_duplicates(subset = ['range_low', 'range_high'])

Example of discordant ranges for rows with same lab (OMOPid), manufacturer, and demographics

,OMOPid,manufacturer,unit,range_low,range_high,gender,ethnicity,race,age,LOINCid
1101,3024561,LAB45,g/dl,3.5,4.8,Female,Not Hispanic or Latino,White or Caucasian,34,1751-7
569264,3024561,LAB45,g/dl,3.4,4.7,Female,Not Hispanic or Latino,White or Caucasian,34,1751-7
3388387,3024561,LAB45,g/dl,3.5,5.0,Female,Not Hispanic or Latino,White or Caucasian,34,1751-7
8317838,3024561,LAB45,g/dl,3.6,5.1,Female,Not Hispanic or Latino,White or Caucasian,34,1751-7

# Ok, so in order to do further consolidation. We need to:

  a) **merge similar ranges** using a confidence interval


    merge_similar_ranges(df, ci)

  b) **merge demographics**. That is, set demographic values to 'any' in places where, for example, the range is the same regardless of gender. In this case the gender column should say 'any'.


    merge_demographics(df)

In [ ]:
clear_ranges

,OMOPid,manufacturer,unit,range_low,range_high,gender,ethnicity,race,age,LOINCid
1,3013502,LAB5808,%,95.00,99.00,Female,Not Hispanic or Latino,Asian,0,20564-1
2,3013502,LAB5809,%,95.00,99.00,Female,Not Hispanic or Latino,Asian,0,20564-1
3,3027315,LAB5808,mm hg,80.00,100.00,Female,Not Hispanic or Latino,Asian,0,11556-8
4,3027315,LAB5809,mm hg,80.00,100.00,Female,Not Hispanic or Latino,Asian,0,11556-8
5,3006576,LAB5808,mmol/l,22.00,27.00,Female,Not Hispanic or Latino,Asian,0,1959-6
...,...,...,...,...,...,...,...,...,...,...
14244781,3016723,LAB3001,mg/dl,0.61,1.24,Male,Hispanic or Latino,White or Caucasian,53,2160-0
14244782,3000905,LAB294,x10e9/l,3.40,10.00,Female,Unknown,Unknown,71,6690-2
14244783,3046553,LAB293,x10e9/l,0.00,0.20,Female,Hispanic or Latino,White or Caucasian,2,43743-4
14244784,3004327,LAB293,x10e9/l,0.90,2.90,Male,Not Hispanic or Latino,White or Caucasian,36,731-0
14244785,3023996,LC3743,mmol/mol creat,1.00,14.00,Male,Hispanic or Latino,Unknown,13,25132-2

In [ ]:
df = clear_ranges

In [ ]:
#define our own age ranges
ages = [[0,10], [10,20], [20,30], [30,40], [40,50], [50,60], [60,70], [70,80], [80,90], [90,100]]

# create list for each possible demographic
races = list(set(df['race']))
races.remove('Unknown')

ethnicities = list(set(df['ethnicity']))
ethnicities.remove('Unknown')

genders = list(set(df['gender']))

In [ ]:
ethnicities

['Hispanic or Latino', 'Not Hispanic or Latino']

# A) Merge similar ranges

In [ ]:
def merge_similar_ranges(df, ci = float):
  '''Merges similar ranges for a given lab (df), given a confidence interval (ci), in place'''
    vis = []
    range_CI = {}
    # remember to consider that one range might be mapped to another, which is mapped to a different one. Might have to merge all in this case.
    # To overcome this obstacle, get the mappings between ranges that are similar enough to merge into the same range
    for i, row in df.iterrows():
        index = row
        low = row['range_low']
        high = row['range_high']

        curr_interval = str(low)+'+'+str(high)

        # if we saw this range already, continue. If we haven't, go through and see if it falls in the CI of any visited range
        if [low, high] in vis:
            new_range = range_CI[curr_interval]
            df.at[i,'range_low'] = new_range[0]
            df.at[i,'range_high'] = new_range[1]
            continue

        # initially, map this range to itself in case it doesn't end up in the CI of another range.
        range_CI[curr_interval] = [low, high]

        # get the lower and upper bound intervals for the low and high values of the range
        low_int = [low-low*ci, low+low*ci]
        high_int = [high-high*ci, high+high*ci]

        # iterate through unique ranges we already visited
        for interval in vis:
            # if this range falls in the CI of one of the ranges we already saw
            if (interval[0] >= low_int[0]) and (interval[0] <= low_int[1]) and (interval[1] >= high_int[0]) and (interval[1] <= high_int[1]):

                #map the current range to this one
                range_CI[curr_interval] = [interval[0],interval[1]]

                # change the value of this range to match the other
                df.at[i,'range_low'] = interval[0]
                df.at[i,'range_high'] = interval[1]
            break

        if [low,high] not in vis:
            vis.append((low,high))

    return

# Now lets test merge_similar_ranges() on a sample lab and check if it works.

In [ ]:
# original lab sample, good for testing code below:
# to test with pdfs:
sample_lab = df[df['LOINCid'] == '789-8']
x = sample_lab

In [ ]:
x

,OMOPid,manufacturer,unit,range_low,range_high,gender,ethnicity,race,age,LOINCid
90,3020416,LAB294,x10e12/l,4.0,5.2,Female,Not Hispanic or Latino,White or Caucasian,35,789-8
91,3020416,LAB294,x10e12/l,4.0,5.2,Female,Not Hispanic or Latino,White or Caucasian,35,789-8
92,3020416,LAB294,x10e12/l,4.0,5.2,Female,Not Hispanic or Latino,White or Caucasian,35,789-8
93,3020416,LAB294,x10e12/l,4.0,5.2,Female,Not Hispanic or Latino,White or Caucasian,35,789-8
94,3020416,LAB294,x10e12/l,4.0,5.2,Female,Not Hispanic or Latino,White or Caucasian,35,789-8
...,...,...,...,...,...,...,...,...,...,...
14244533,3020416,LAB294,x10e12/l,4.0,5.2,Female,Not Hispanic or Latino,Unknown,38,789-8
14244550,3020416,LAB294,x10e12/l,4.4,5.9,Male,Not Hispanic or Latino,White or Caucasian,33,789-8
14244669,3020416,LAB293,x10e12/l,4.4,5.9,Male,Not Hispanic or Latino,Asian,22,789-8
14244731,3020416,LAB293,x10e12/l,4.2,5.6,Male,Unknown,White or Caucasian,16,789-8
14244778,3020416,LAB293,x10e12/l,4.0,5.2,Female,Unknown,White or Caucasian,70,789-8

In [ ]:
sample1 = x[x['range_low'] == 4].sample(50)
sample2 = x[x['range_low'] == 4.14].sample(50)
sample3 = x[x['range_low'] == 3.8]

In [ ]:
# get a sample of data for each range from a lab
z = sample1.append(sample2).append(sample3)

<ipython-input-76-de6316c891f3>:2: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  z = sample1.append(sample2).append(sample3)
<ipython-input-76-de6316c891f3>:2: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  z = sample1.append(sample2).append(sample3)

In [ ]:
z

,OMOPid,manufacturer,unit,range_low,range_high,gender,ethnicity,race,age,LOINCid
12425516,3020416,LAB293,x10e12/l,4.0,5.2,Female,Not Hispanic or Latino,Black or African American,33,789-8
9010898,3020416,LAB294,x10e12/l,4.0,5.2,Female,Unknown,Unknown,44,789-8
11036010,3020416,LAB294,x10e12/l,4.0,5.2,Female,Not Hispanic or Latino,White or Caucasian,42,789-8
6832396,3020416,LAB294,x10e12/l,4.0,5.2,Female,Not Hispanic or Latino,Native Hawaiian or Other Pacific Islander,55,789-8
2069836,3020416,LAB293,x10e12/l,4.0,5.2,Female,Not Hispanic or Latino,White or Caucasian,57,789-8
...,...,...,...,...,...,...,...,...,...,...
14238589,3020416,LAB293,million/ul,3.8,5.1,Female,Not Hispanic or Latino,White or Caucasian,26,789-8
14240514,3020416,LAB293,million/ul,3.8,5.1,Female,Not Hispanic or Latino,White or Caucasian,54,789-8
14243171,3020416,LAB293,million/ul,3.8,5.1,Female,Hispanic or Latino,Unknown,38,789-8
14244120,3020416,LAB293,million/ul,3.8,5.1,Female,Not Hispanic or Latino,White or Caucasian,59,789-8
14244444,3020416,LAB294,million/ul,3.8,5.1,Female,Not Hispanic or Latino,White or Caucasian,19,789-8

In [ ]:
merge_similar_ranges(z, ci = 0.1)

### compare z before and after merge_similar_ranges()
#### note that the ci = 0.1, so when taking 4.0 as the low range, it looks for anything between 3.6 and 4.4, and merges the range to 4.0.
### Success!

In [ ]:
z

,OMOPid,manufacturer,unit,range_low,range_high,gender,ethnicity,race,age,LOINCid
12425516,3020416,LAB293,x10e12/l,4.0,5.2,Female,Not Hispanic or Latino,Black or African American,33,789-8
9010898,3020416,LAB294,x10e12/l,4.0,5.2,Female,Unknown,Unknown,44,789-8
11036010,3020416,LAB294,x10e12/l,4.0,5.2,Female,Not Hispanic or Latino,White or Caucasian,42,789-8
6832396,3020416,LAB294,x10e12/l,4.0,5.2,Female,Not Hispanic or Latino,Native Hawaiian or Other Pacific Islander,55,789-8
2069836,3020416,LAB293,x10e12/l,4.0,5.2,Female,Not Hispanic or Latino,White or Caucasian,57,789-8
...,...,...,...,...,...,...,...,...,...,...
14238589,3020416,LAB293,million/ul,4.0,5.2,Female,Not Hispanic or Latino,White or Caucasian,26,789-8
14240514,3020416,LAB293,million/ul,4.0,5.2,Female,Not Hispanic or Latino,White or Caucasian,54,789-8
14243171,3020416,LAB293,million/ul,4.0,5.2,Female,Hispanic or Latino,Unknown,38,789-8
14244120,3020416,LAB293,million/ul,4.0,5.2,Female,Not Hispanic or Latino,White or Caucasian,59,789-8
14244444,3020416,LAB294,million/ul,4.0,5.2,Female,Not Hispanic or Latino,White or Caucasian,19,789-8

# B) Merge Demographics

In [ ]:
# Input a list of ages. Returns True if 50% of age bins are present (bin_size=10 would give 0-10, 10-20, ..., 90-100),
# indicating that we can replace the age column with 'any'
def all_ages(ages, bin_size = int):
    # loop through all age bins (0-10, 10-20, ..., 90-100)
    vals = []
    for i in range(0,100,bin_size):
        lower = i
        upper = i+bin_size
        # append True if there's an age in ages list that falls in the current bin
        vals.append(any([True for age in ages if age >= lower and age < upper]))

    if (sum(vals)/len(vals)) >= 0.50:
        return True

    return False

In [ ]:
ethnicities

['Hispanic or Latino', 'Not Hispanic or Latino']

In [ ]:
races

['White or Caucasian',
 'American Indian or Alaska Native',
 'Native Hawaiian or Other Pacific Islander',
 'Asian',
 'Black or African American']

In [ ]:
# Inputs a df for a lab with ranges already merged where necessary. Returns a df with 'any'
# in the demographic columns if the range does not depend on this demographic (determined on whether all possible
# values for a demographic are present for a given range). not in place.
def merge_demographics(df):

    # initialize df to append to during iteration
    output_df = pd.DataFrame(columns=list(df.columns))

    # break into new dfs per range, search to see if value can be replaced by 'any' for each range
    ranges = df[['range_low', 'range_high']].drop_duplicates()


    # iterate through unique ranges for this lab
    for i, lab_range in ranges.iterrows():
        low = lab_range['range_low']
        high = lab_range['range_high']

        # get all rows that have this specific range for this lab
        curr_df = df[(df['range_low'] == low) & (df['range_high'] == high)]


        # now check if the df for this range contains all values for each demographic and if so, change to 'any'
        # then append all rows to the new table

        # check if all values for gender are present
        curr_gender_vals = list(set(curr_df['gender']))
        if len(genders) == len(curr_gender_vals):
            curr_df['gender'] = 'any'

        # check if all values for ethnicity are present
        curr_ethnicity_vals = list(set(curr_df['ethnicity']))
        # value could be "Unknown". check if all defined ethnicities are in the current range
        if all([x in curr_ethnicity_vals for x in ethnicities]):
            curr_df['ethnicity'] = 'any'

        # check if all values for race are present
        curr_race_vals = list(set(curr_df['race']))
        # value could be "Unknown". check if all defined races are in the current range
        if all([x in curr_race_vals for x in races]):
            curr_df['race'] = 'any'

        # get age in intervals:
        curr_df['age_range'] = [ages[age//10] for age in curr_df['age']]

        # get first digit of age range to drop duplicates on later (can't drop duplicates on age_range because it's a list)
        curr_df['age_index'] = [age_range[0] for age_range in curr_df['age_range']]

        # check if all values for age (range) are present
        if all_ages(list(set(curr_df['age'])), bin_size = 30):
            curr_df['age'] = 'any'

        # drop duplicates
        curr_df.drop_duplicates(subset = (['gender', 'ethnicity', 'race', 'age_index']), inplace = True)
        # no longer need age_index col, drop it
        curr_df.drop('age_index', inplace=True, axis = 1)


        #concatenate result to output
        output_df = output_df.append(curr_df)

    return output_df

# Lets try merge_demographics() on our sample dataset...

In [ ]:
# merge_demographics() on sample data set from before: z
output = merge_demographics(z)

In [ ]:
# print the output, which is basically the concatenated dfs for each range with demographic set to 'any' where it meets the condition
output

,OMOPid,manufacturer,unit,range_low,range_high,gender,ethnicity,race,age,LOINCid,age_range
12425516,3020416,LAB293,x10e12/l,4.00,5.2,any,any,any,any,789-8,"[30, 40]"
9010898,3020416,LAB294,x10e12/l,4.00,5.2,any,any,any,any,789-8,"[40, 50]"
6832396,3020416,LAB294,x10e12/l,4.00,5.2,any,any,any,any,789-8,"[50, 60]"
4088755,3020416,LAB294,x10e12/l,4.00,5.2,any,any,any,any,789-8,"[60, 70]"
12914164,3020416,LAB294,x10e12/l,4.00,5.2,any,any,any,any,789-8,"[20, 30]"
1349612,3020416,LAB294,x10e12/l,4.00,5.2,any,any,any,any,789-8,"[70, 80]"
4196126,3020416,LAB293,x10e12/l,4.00,5.2,any,any,any,any,789-8,"[10, 20]"
13331515,3020416,LAB293,x10e12/l,4.00,5.2,any,any,any,any,789-8,"[0, 10]"
5739968,3020416,LAB294,x10e12/l,4.00,5.2,any,any,any,any,789-8,"[80, 90]"
2384990,3020416,LAB293,million/ul,4.00,5.2,any,any,any,any,789-8,"[90, 100]"
12709954,3020416,LAB294,x10e12/l,4.00,6.6,Female,Unknown,Unknown,0,789-8,"[0, 10]"
5148665,3020416,LAB293,x10e6/ul,4.14,5.8,Male,any,White or Caucasian,any,789-8,"[60, 70]"
9476129,3020416,LAB293,x10e6/ul,4.14,5.8,Male,any,Asian,any,789-8,"[50, 60]"
7996663,3020416,LAB294,x10e6/ul,4.14,5.8,Male,any,Black or African American,any,789-8,"[50, 60]"
8342842,3020416,LAB293,x10e6/ul,4.14,5.8,Male,any,White or Caucasian,any,789-8,"[70, 80]"
14051799,3020416,LAB294,x10e6/ul,4.14,5.8,Male,any,White or Caucasian,any,789-8,"[50, 60]"
8120200,3020416,LAB293,x10e6/ul,4.14,5.8,Male,any,Unknown,any,789-8,"[50, 60]"
3493123,3020416,LAB293,x10e6/ul,4.14,5.8,Male,any,White or Caucasian,any,789-8,"[20, 30]"
7684824,3020416,LAB293,x10e6/ul,4.14,5.8,Male,any,Asian,any,789-8,"[60, 70]"
8328433,3020416,LAB293,x10e6/ul,4.14,5.8,Male,any,White or Caucasian,any,789-8,"[80, 90]"
10851506,3020416,LAB294,x10e6/ul,4.14,5.8,Male,any,Unknown,any,789-8,"[10, 20]"
12949315,3020416,LAB293,x10e6/ul,4.14,5.8,Male,any,Asian,any,789-8,"[20, 30]"
3334528,3020416,LAB293,x10e6/ul,4.14,5.8,Male,any,Unknown,any,789-8,"[20, 30]"
12675998,3020416,LAB293,x10e6/ul,4.14,5.8,Male,any,Asian,any,789-8,"[10, 20]"
9589599,3020416,LAB293,x10e6/ul,4.14,5.8,Male,any,Unknown,any,789-8,"[70, 80]"
8262285,3020416,LAB293,x10e6/ul,4.14,5.8,Male,any,Asian,any,789-8,"[70, 80]"
12240673,3020416,LAB293,x10e6/ul,4.14,5.8,Male,any,Unknown,any,789-8,"[60, 70]"
344000,3020416,LAB293,x10e6/ul,4.14,5.8,Male,any,Unknown,any,789-8,"[30, 40]"
13889781,3020416,LAB293,x10e6/ul,4.14,5.8,Male,any,Black or African American,any,789-8,"[40, 50]"
2504522,3020416,LAB293,x10e6/ul,4.14,5.8,Male,any,Unknown,any,789-8,"[40, 50]"
9655921,3020416,LAB293,x10e6/ul,4.14,5.8,Male,any,Black or African American,any,789-8,"[30, 40]"
1894956,3020416,LAB293,10*6/ul,3.80,5.9,Male,Not Hispanic or Latino,White or Caucasian,any,789-8,"[70, 80]"
8884081,3020416,LAB293,10*6/ul,3.80,5.9,Male,Unknown,Unknown,any,789-8,"[20, 30]"
9888944,3020416,LAB11007,10*6/ul,3.80,5.9,Male,Not Hispanic or Latino,White or Caucasian,any,789-8,"[50, 60]"
11325452,3020416,LAB293,10*6/ul,3.80,5.9,Male,Not Hispanic or Latino,White or Caucasian,any,789-8,"[80, 90]"

# Great. With these methods the lab ranges can be used as reference for individual patient results. Now lets run it on all the data.

We will use clear_ranges as input, the following code will
- loop through each lab (OMOPid)
  - Check if there is only one unit
    - if so:
      - merges similar ranges
      - merges demographics
      - appends to the output
      - continues
    - if not:
      - checks if the units in this lab are convertible
      - if not, continues
  - if its made it this far, it means we have multiple units and they are convertible. proceeds to:
    - convert units
    - merge similar ranges
    - merge demographics
    - append to the output

In [ ]:
clear_ranges

,OMOPid,manufacturer,unit,range_low,range_high,gender,ethnicity,race,age,LOINCid
1,3013502,LAB5808,%,95.00,99.00,Female,Not Hispanic or Latino,Asian,0,20564-1
2,3013502,LAB5809,%,95.00,99.00,Female,Not Hispanic or Latino,Asian,0,20564-1
3,3027315,LAB5808,mm hg,80.00,100.00,Female,Not Hispanic or Latino,Asian,0,11556-8
4,3027315,LAB5809,mm hg,80.00,100.00,Female,Not Hispanic or Latino,Asian,0,11556-8
5,3006576,LAB5808,mmol/l,22.00,27.00,Female,Not Hispanic or Latino,Asian,0,1959-6
...,...,...,...,...,...,...,...,...,...,...
14244781,3016723,LAB3001,mg/dl,0.61,1.24,Male,Hispanic or Latino,White or Caucasian,53,2160-0
14244782,3000905,LAB294,x10e9/l,3.40,10.00,Female,Unknown,Unknown,71,6690-2
14244783,3046553,LAB293,x10e9/l,0.00,0.20,Female,Hispanic or Latino,White or Caucasian,2,43743-4
14244784,3004327,LAB293,x10e9/l,0.90,2.90,Male,Not Hispanic or Latino,White or Caucasian,36,731-0
14244785,3023996,LC3743,mmol/mol creat,1.00,14.00,Male,Hispanic or Latino,Unknown,13,25132-2

In [ ]:
def generateRanges(clear_ranges):
  output_df = pd.DataFrame(columns = clear_ranges.columns)

  for omopid in set(clear_ranges['OMOPid']):
      curr_df = clear_ranges[clear_ranges['OMOPid'] == omopid]

      # check if multiple units
      if (len(set(curr_df['unit'])) < 2):
          # merge similar ranges (+/- 10%)
          merge_similar_ranges(curr_df, 0.25)
          # change demographic to 'any' where applicable
          cleaned = merge_demographics(curr_df)
          # append to output
          output_df = output_df.append(curr_df)
          continue

      # check if there is a dominant unit
      if omopid not in unit_map:
          # don't append if no dominant unit
          continue

      # convert if necessary
      converted = convertUnits(curr_df)
      # merge similar ranges (+/- 10%)
      merge_similar_ranges(converted, 0.25)
      # change demographic to 'any' where applicable
      cleaned = merge_demographics(converted)
      # append to output
      output_df = output_df.append(cleaned)

In [ ]:
output_df = generateRanges(clear_ranges)

In [ ]:
rows = len(output_df)
output_df.to_csv('cleaned_ehr_' + str(rows) + '_rows.csv')

# Outputs for different parameters:
5,840,912 rows for
- merge_similar_ranges(..., ci = 0.10)
- all_ages(..., bin_size = 10)
- getMaxUnit(..., 0.75)

5,840,364 rows for
- merge_similar_ranges(..., ci = 0.25)
- all_ages(..., bin_size = 30)
- all_ages: threshold = 0.50
- getMaxUnit(..., 0.55)

In [2]:
import pandas as pd
cleaned_ehr = pd.read_csv(filepath + 'cleaned_ehr.csv')
cleaned_ehr.set_index("Unnamed: 0", inplace=True)
cleaned_ehr.index.name = "Index"
cleaned_ehr

<ipython-input-2-999ca6afe5c2>:2: DtypeWarning: Columns (9,11) have mixed types. Specify dtype option on import or set low_memory=False.
  cleaned_ehr = pd.read_csv(filepath + 'cleaned_ehr.csv')

,OMOPid,manufacturer,unit,range_low,range_high,gender,ethnicity,race,age,LOINCid,age_range
Index,,,,,,,,,,,
1107112,3006467,LAB3381,umol/l,31.26,84.11,Female,Not Hispanic or Latino,White or Caucasian,19,30195-2,NaN
5202898,3006467,LC4764,umol/l,35.60,101.60,Female,Not Hispanic or Latino,Black or African American,38,30195-2,NaN
6504574,3006467,LAB3381,umol/l,32.10,71.90,Female,Not Hispanic or Latino,White or Caucasian,14,30195-2,NaN
8245085,3006467,LAB3381,umol/l,31.26,84.11,Male,Not Hispanic or Latino,White or Caucasian,58,30195-2,NaN
13622773,3006467,LAB3381,umol/l,31.26,84.11,Male,Not Hispanic or Latino,Asian,68,30195-2,NaN
...,...,...,...,...,...,...,...,...,...,...,...
14239825,3016699,LAB3020,mg/dl,70.00,139.00,Female,Not Hispanic or Latino,Unknown,41,1504-0,NaN
14242860,3016699,LAB3020,mg/dl,70.00,139.00,Female,Not Hispanic or Latino,White or Caucasian,20,1504-0,NaN
14243816,3016699,LAB3020,mg/dl,70.00,139.00,Female,Not Hispanic or Latino,Asian,33,1504-0,NaN
14243911,3016699,LAB3020,mg/dl,70.00,139.00,Female,Not Hispanic or Latino,Native Hawaiian or Other Pacific Islander,44,1504-0,NaN
14244323,3016699,LAB3020,mg/dl,70.00,139.00,Female,Not Hispanic or Latino,White or Caucasian,28,1504-0,NaN

In [3]:
len(set(cleaned_ehr['LOINCid']))

868